/*
    Hoja que le dara estilos a los componentes internos de cada seccion
*/
/*
    Created on : 1/04/2019, 05:56:03 PM
    Author     : Carlos
*/

body button{
    font-size: 10px;
}

input{
  font-size: 10px;
}

.btn{
  font-size: 10px;
}

.card-header{
    height: 25px;
    padding-top: 5px;
}

.card-footer{
    height: 36px;
    padding-top: 2px;
}

.card-header h6{
    font-size: 12px;
    font-weight: bold;
}

.card-body{
    padding: 10px;
}

input{
    border: 1px;
    font-size: 10px;
}

::-webkit-input-placeholder {
   font-style: italic;
   font-size: 10px;
}
:-moz-placeholder {
   font-style: italic;
   font-size: 10px;
}
::-moz-placeholder {
   font-style: italic;
   font-size: 10px;
}
:-ms-input-placeholder {
   font-style: italic;
   font-size: 10px;
}
